{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    <title>TreasureGram</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top text-center">
    <a href="/">
        <img src="{% static 'images/treasure.jpg' %}" alt="treasureGram">
    </a>
</nav>
<main class="container" role="main">
<h1>TreasureGram</h1>
{% for treasure in treasures %}

<p>{{treasure.name}}</p>
{% if treasure.value > 0 %}
<p>{{treasure.value}}</p>
{% else %}
<p>unknown</p>
{% endif %}

{% endfor %}
    </main>
</body>
</html>